@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage
@*<IEnumerable<HelloWorld.Dnn.Dnn.HelloWorld.Models.Item>>*@

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@using DotNetNuke.Data;
@using HelloWorld.Dnn.Dnn.HelloWorld.Models;
@using HelloWorld.Dnn.Dnn.HelloWorld.Components;
@using HelloWorld.Dnn.Dnn.HelloWorld.Services;
@using DotNetNuke.Web.Client.ClientResourceManagement;
@using DotNetNuke.Framework.JavaScriptLibraries;

@using System.Data

@{
    @*ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/HelloWorld/module-helloworld/Dnn.HelloWorld/Scripts/BSScript.js");  *@


var controller = new HelloWorld.Dnn.Dnn.HelloWorld.Services.Implementations.KerdesekController();
var elso_kérdés = controller.FindKerdesByID(1);
Answers[] elso_valaszok = controller.FindValaszokByQuestion(1);


}

@*
    <script type="text/javascript">
                function válasz(int sorszam) {
                    @{elso_kérdés = controller.FindKérdésByID(sorszam);
                        Answers[] elso_valaszok = controller.FindVálaszokByQuestion(sorszam); }
                }
    </script>
*@

@*

        function válasz(sorszam) {
            // Hívjuk meg a szerver oldali kódot AJAX hívással, hogy frissítsük az adatokat
            $.ajax({
                type: "POST",
                url: "KérdésController/FindKérdésByID",
                data: { sorszam: sorszam }, // Átadjuk a kiválasztott sorszam paramétert a controllernek
                success: function (response) {
                    // Sikeres AJAX hívás esetén frissítjük az adatokat a válasz alapján
                    var elso_kérdés = response.elso_kérdés;
                    var elso_valaszok = response.elso_valaszok;

                    // Itt már használhatjuk az elso_kérdés és elso_valaszok változókat a JavaScriptben
                    // Például, frissíthetjük a gomb szövegét az új adatok alapján
                    $("#button1").text(elso_valaszok[0].AnswerText);
                    $("#button2").text(elso_valaszok[1].AnswerText);
                    $("#button3").text(elso_valaszok[2].AnswerText);
                }
            });
        }
    </script>
*@
@*
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">

        function válasz(sorszam) {
            $.ajax({
                type: "POST",
                url: '/DesktopModules/HelloWorld/module-helloworld/Dnn.HelloWorld/Services/Implementations/KérdésekController/FindKérdésByID', // Az AJAX hívás célja
                data: { sorszam: sorszam }, // A szerveroldali kódnak átadott adat
                success: function (response) {
                    // Sikeres AJAX hívás esetén frissítjük az adatokat a válasz alapján
                    document.getElementById("question").innerHTML = response.QuestionText;
                }
            });
        }
    </script>*@

@*
    '/DesktopModules/MVC/HelloWorld/module-helloworld/Dnn.HelloWorld/Services/Implementations/KérdésekController/FindKérdésByID'
*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        function válasz(sorszam) {
                    var moduleId = $('#send-message-form').data('moduleid');
                    // Perform the AJAX request
                            $.ajax({
                                type: 'POST',
                                url: "/KerdesekController/FindKerdesByIDJson", // Adjust the URL to match your routing
                                headers: {
                                    "ModuleId": moduleId,
                                    "TabId": @Dnn.ModuleContext.TabId,
                                    "RequestVerificationToken": '@Html.AntiForgeryToken()'
                                },
                                data: { sorszam: sorszam },
                                beforeSend: function () {
                                    // Optional: Display a loading message

                                },
                                success: function (response) {
                                    // Handle the response from your controller
                                    document.getElementById("question").innerHTML = response.QuestionText;
                                },
                                error: function (xhr, status, error) {
                                    // Handle any AJAX errors
                                   console.log("Hiba")
                                },
                            });
        };
</script>

@*               document.getElementById("answear1").innerHTML = response.answers[0];
    document.getElementById("answear2").innerHTML = response.answers[1];
    document.getElementById("answear3").innerHTML = response.answers[2];*@

@*
    <script type="text/javascript">
                    function válasz(int sorszam) {
                       document.getElementById("question").innerHTML = @(controller.FindKérdésByID(sorszam).QuestionText)
                       document.getElementById("answear1").innerHTML =@(controller.FindVálaszokByQuestion(sorszam)[0].AnswerText )
                       document.getElementById("answear2").innerHTML =@(controller.FindVálaszokByQuestion(sorszam)[1].AnswerText )
                       document.getElementById("answear3").innerHTML =@(controller.FindVálaszokByQuestion(sorszam)[2].AnswerText )
                    }
    </script>*@




@*ha nem műküdik semmi, akkor mindegyikre kell csinálni az eleján egy változót és azt meghívni ami a sorszám
    also, lehet az onlick eseményt is változtatni kéne a JS-ben hogy a sorszam változzon*@



@*
    <script type="text/javascript">

        function válasz(sorszam) {
            var questionText = '@Html.Raw(Json.Encode(controller.FindKérdésByID(sorszam).QuestionText))';
            var answers = ['@Html.Raw(Json.Encode(controller.FindVálaszokByQuestion(sorszam)[0].AnswerText))',
                        '@Html.Raw(Json.Encode(controller.FindVálaszokByQuestion(sorszam)[1].AnswerText))',
                        '@Html.Raw(Json.Encode(controller.FindVálaszokByQuestion(sorszam)[2].AnswerText))'];
            document.getElementById("question").innerHTML = questionText;
            document.getElementById("answer1").innerHTML = answers[0];
            document.getElementById("answer2").innerHTML = answers[1];
            document.getElementById("answer3").innerHTML = answers[2];
        }
    </script>
*@


<div id="quiz-@Dnn.ModuleContext.ModuleId">

    <div class="first-section">
        <p id="question">
            @(elso_kérdés != null ? elso_kérdés.QuestionText : "Question not found.")
        </p>
        @*itt a válasz(@(controller.FindNextQuestionID()))*@
        <button type="radio" onclick="válasz(1)" id="answear1">@(elso_valaszok != null ? elso_valaszok[0].AnswerText : "Answer not found.")</button>
        <button type="radio" onclick="válasz(2)" id="answear2">@(elso_valaszok != null ? elso_valaszok[1].AnswerText : "Answer not found.")</button>
        <button type="radio" onclick="válasz(3)" id="answear3">@(elso_valaszok != null ? elso_valaszok[2].AnswerText : "Answer not found.")</button>

    </div>

</div>



