@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage
@*<IEnumerable<HelloWorld.Dnn.Dnn.HelloWorld.Models.Item>>*@

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@using DotNetNuke.Data;
@using HelloWorld.Dnn.Dnn.HelloWorld.Models;
@using HelloWorld.Dnn.Dnn.HelloWorld.Components;
@using HelloWorld.Dnn.Dnn.HelloWorld.Services;
@using DotNetNuke.Web.Client.ClientResourceManagement;
@using DotNetNuke.Framework.JavaScriptLibraries;

@using System.Data

@{
    @*ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/HelloWorld/module-helloworld/Dnn.HelloWorld/Scripts/BSScript.js");  *@

    var szamlalo = 0;
    var controller = new HelloWorld.Dnn.Dnn.HelloWorld.Services.Implementations.KerdesekController();
    var elso_kérdés = controller.FindKerdesByID(1);
    Answers[] elso_valaszok = controller.FindValaszokByQuestion(1);
    var masodik_kérdés = controller.FindKerdesByID(2);
    Answers[] masodik_valaszok = controller.FindValaszokByQuestion(2);
    var harmadik_kérdés = controller.FindKerdesByID(3);
    Answers[] harmadik_valaszok = controller.FindValaszokByQuestion(3);
    var negyedik_kérdés = controller.FindKerdesByID(4);
    Answers[] negyedik_valaszok = controller.FindValaszokByQuestion(4);


}





<input type="hidden" id="PassingToJavaScript_K_2" value="@(masodik_kérdés.QuestionText)">
<input type="hidden" id="PassingToJavaScript_V_2_1" value="@(masodik_valaszok[0].AnswerText)">
<input type="hidden" id="PassingToJavaScript_V_2_2" value="@(masodik_valaszok[1].AnswerText)">
<input type="hidden" id="PassingToJavaScript_V_2_3" value="@(masodik_valaszok[2].AnswerText)">

<input type="hidden" id="PassingToJavaScript_K_3" value="@(harmadik_kérdés.QuestionText)">
<input type="hidden" id="PassingToJavaScript_V_3_1" value="@(harmadik_valaszok[0].AnswerText)">
<input type="hidden" id="PassingToJavaScript_V_3_2" value="@(harmadik_valaszok[1].AnswerText)">
<input type="hidden" id="PassingToJavaScript_V_3_3" value="@(harmadik_valaszok[2].AnswerText)">

<input type="hidden" id="PassingToJavaScript_K_4" value="@(negyedik_kérdés.QuestionText)">
<input type="hidden" id="PassingToJavaScript_V_4_1" value="@(negyedik_valaszok[0].AnswerText)">
<input type="hidden" id="PassingToJavaScript_V_4_2" value="@(negyedik_valaszok[1].AnswerText)">
<input type="hidden" id="PassingToJavaScript_V_4_3" value="@(negyedik_valaszok[2].AnswerText)">


<script type="text/javascript">

        var szamlalo = 0;
        var masodik_kérdés=document.getElementById("PassingToJavaScript_K_2").value ;
        var masodik_valaszok_1 =document.getElementById("PassingToJavaScript_V_2_1").value ;
        var masodik_valaszok_2 =document.getElementById("PassingToJavaScript_V_2_2").value ;
        var masodik_valaszok_3 =document.getElementById("PassingToJavaScript_V_2_3").value ;

        var harmadik_kérdés=document.getElementById("PassingToJavaScript_K_3").value ;
        var harmadik_valaszok_1 =document.getElementById("PassingToJavaScript_V_3_1").value ;
        var harmadik_valaszok_2 =document.getElementById("PassingToJavaScript_V_3_2").value ;
        var harmadik_valaszok_3 =document.getElementById("PassingToJavaScript_V_3_3").value ;

        var negyedik_kérdés=document.getElementById("PassingToJavaScript_K_4").value ;
        var negyedik_valaszok_1 =document.getElementById("PassingToJavaScript_V_4_1").value ;
        var negyedik_valaszok_2 =document.getElementById("PassingToJavaScript_V_4_2").value ;
        var negyedik_valaszok_3 =document.getElementById("PassingToJavaScript_V_4_3").value ;




        function valasz() {
                window.event.preventDefault();

                    if (szamlalo==0){
                        document.getElementById("question").innerHTML = masodik_kérdés ;
                        document.getElementById("answer1").innerHTML =masodik_valaszok_1 ;
                        document.getElementById("answer2").innerHTML =masodik_valaszok_2 ;
                        document.getElementById("answer3").innerHTML =masodik_valaszok_3  ;
                    } else if (szamlalo == 1) {
                        document.getElementById("question").innerHTML =harmadik_kérdés;
                        document.getElementById("answer1").innerHTML = harmadik_valaszok_1;
                        document.getElementById("answer2").innerHTML =harmadik_valaszok_2;
                        document.getElementById("answer3").innerHTML =harmadik_valaszok_3;
                    } else if (szamlalo==2) {
                        document.getElementById("question").innerHTML =negyedik_kérdés;
                        document.getElementById("answer1").innerHTML =negyedik_valaszok_1;
                        document.getElementById("answer2").innerHTML =negyedik_valaszok_2;
                        document.getElementById("answer3").innerHTML =negyedik_valaszok_3;
                    } else  {
                        ////ajánlott termékek behozása
                        return;
                             };

                 szamlalo++;
        };



</script>



<div id="quiz-@Dnn.ModuleContext.ModuleId">

    <div class="first-section">
        <p id="question">
            @(elso_kérdés.QuestionText)
        </p>
        
        <button type="radio" onclick="valasz()" id="answer1">@(elso_valaszok[0].AnswerText)</button>
        <button type="radio" onclick="valasz()" id="answer2">@(elso_valaszok[1].AnswerText)</button>
        <button type="radio" onclick="valasz()" id="answer3">@(elso_valaszok[2].AnswerText)</button>

    </div>

</div>





@*
    <script type="text/javascript">
                function válasz(int sorszam) {
                    @{elso_kérdés = controller.FindKérdésByID(sorszam);
                        Answers[] elso_valaszok = controller.FindVálaszokByQuestion(sorszam); }
                }
    </script>
*@

@*

        function válasz(sorszam) {
            // Hívjuk meg a szerver oldali kódot AJAX hívással, hogy frissítsük az adatokat
            $.ajax({
                type: "POST",
                url: "KérdésController/FindKérdésByID",
                data: { sorszam: sorszam }, // Átadjuk a kiválasztott sorszam paramétert a controllernek
                success: function (response) {
                    // Sikeres AJAX hívás esetén frissítjük az adatokat a válasz alapján
                    var elso_kérdés = response.elso_kérdés;
                    var elso_valaszok = response.elso_valaszok;

                    // Itt már használhatjuk az elso_kérdés és elso_valaszok változókat a JavaScriptben
                    // Például, frissíthetjük a gomb szövegét az új adatok alapján
                    $("#button1").text(elso_valaszok[0].AnswerText);
                    $("#button2").text(elso_valaszok[1].AnswerText);
                    $("#button3").text(elso_valaszok[2].AnswerText);
                }
            });
        }
    </script>
*@
@*
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">

        function válasz(sorszam) {
            $.ajax({
                type: "POST",
                url: '/DesktopModules/HelloWorld/module-helloworld/Dnn.HelloWorld/Services/Implementations/KérdésekController/FindKérdésByID', // Az AJAX hívás célja
                data: { sorszam: sorszam }, // A szerveroldali kódnak átadott adat
                success: function (response) {
                    // Sikeres AJAX hívás esetén frissítjük az adatokat a válasz alapján
                    document.getElementById("question").innerHTML = response.QuestionText;
                }
            });
        }
    </script>*@

@*
    '/DesktopModules/MVC/HelloWorld/module-helloworld/Dnn.HelloWorld/Services/Implementations/KérdésekController/FindKérdésByID'
*@

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@


@*               document.getElementById("answear1").innerHTML = response.answers[0];
    document.getElementById("answear2").innerHTML = response.answers[1];
    document.getElementById("answear3").innerHTML = response.answers[2];*@

@*
    <script type="text/javascript">
                    function válasz(int sorszam) {
                       document.getElementById("question").innerHTML = @(controller.FindKérdésByID(sorszam).QuestionText)
                       document.getElementById("answear1").innerHTML =@(controller.FindVálaszokByQuestion(sorszam)[0].AnswerText )
                       document.getElementById("answear2").innerHTML =@(controller.FindVálaszokByQuestion(sorszam)[1].AnswerText )
                       document.getElementById("answear3").innerHTML =@(controller.FindVálaszokByQuestion(sorszam)[2].AnswerText )
                    }
    </script>*@




@*ha nem műküdik semmi, akkor mindegyikre kell csinálni az eleján egy változót és azt meghívni ami a sorszám
    also, lehet az onlick eseményt is változtatni kéne a JS-ben hogy a sorszam változzon*@



@*
    <script type="text/javascript">

        function válasz(sorszam) {
            var questionText = '@Html.Raw(Json.Encode(controller.FindKérdésByID(sorszam).QuestionText))';
            var answers = ['@Html.Raw(Json.Encode(controller.FindVálaszokByQuestion(sorszam)[0].AnswerText))',
                        '@Html.Raw(Json.Encode(controller.FindVálaszokByQuestion(sorszam)[1].AnswerText))',
                        '@Html.Raw(Json.Encode(controller.FindVálaszokByQuestion(sorszam)[2].AnswerText))'];
            document.getElementById("question").innerHTML = questionText;
            document.getElementById("answer1").innerHTML = answers[0];
            document.getElementById("answer2").innerHTML = answers[1];
            document.getElementById("answer3").innerHTML = answers[2];
        }
    </script>
*@





